
.vs/2D_GameEngine/v15/Browse.VC.db
.vs/2D_GameEngine/v15/Browse.VC.opendb
.vs/2D_GameEngine/v15/Solution.VC.db
.vs/2D_GameEngine/v15/Solution.VC.db-shm
.vs/2D_GameEngine/v15/Solution.VC.db-wal
.vs/2D_GameEngine/v15/.suo
.vs/2D_GameEngine/v15/ipch/bffabc32fdd4c938.ipch
.vs/2D_GameEngine/v15/ipch/ef01e5f53e04ac08.ipch
Engine/x64/Debug/Audio.obj
Engine/x64/Debug/AudioLocator.obj
Engine/x64/Debug/CharacterControllerComponent.obj
Engine/x64/Debug/Engine.idb
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.obj
Engine/x64/Debug/Engine.pch
Engine/x64/Debug/Engine.pdb
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Engine/x64/Debug/Font.obj
Engine/x64/Debug/FPSComponent.obj
Engine/x64/Debug/GameObject.obj
Engine/x64/Debug/GameTime.obj
Engine/x64/Debug/GraphMovementComponent.obj
Engine/x64/Debug/GridComponent.obj
Engine/x64/Debug/GridObserver.obj
Engine/x64/Debug/InputCommands.obj
Engine/x64/Debug/InputComponent.obj
Engine/x64/Debug/InputManager.obj
Engine/x64/Debug/Logger.obj
Engine/x64/Debug/main.obj
Engine/x64/Debug/pch.obj
Engine/x64/Debug/Renderer.obj
Engine/x64/Debug/ResourceManager.obj
Engine/x64/Debug/Scene.obj
Engine/x64/Debug/SceneManager.obj
Engine/x64/Debug/Subject.obj
Engine/x64/Debug/TextComponent.obj
Engine/x64/Debug/Texture2D.obj
Engine/x64/Debug/TextureComponent.obj
Engine/x64/Debug/Audio.obj
Engine/x64/Debug/AudioLocator.obj
Engine/x64/Debug/CharacterControllerComponent.obj
Engine/x64/Debug/Engine.idb
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.obj
Engine/x64/Debug/Engine.pch
Engine/x64/Debug/Engine.pdb
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Engine/x64/Debug/Font.obj
Engine/x64/Debug/FPSComponent.obj
Engine/x64/Debug/GameObject.obj
Engine/x64/Debug/GameTime.obj
Engine/x64/Debug/GraphMovementComponent.obj
Engine/x64/Debug/GridComponent.obj
Engine/x64/Debug/GridObserver.obj
Engine/x64/Debug/InputCommands.obj
Engine/x64/Debug/InputComponent.obj
Engine/x64/Debug/InputManager.obj
Engine/x64/Debug/Logger.obj
Engine/x64/Debug/main.obj
Engine/x64/Debug/pch.obj
Engine/x64/Debug/Renderer.obj
Engine/x64/Debug/ResourceManager.obj
Engine/x64/Debug/Scene.obj
Engine/x64/Debug/SceneManager.obj
Engine/x64/Debug/Subject.obj
Engine/x64/Debug/TextComponent.obj
Engine/x64/Debug/Texture2D.obj
Engine/x64/Debug/TextureComponent.obj
Engine/x64/Debug/Audio.obj
Engine/x64/Debug/AudioLocator.obj
Engine/x64/Debug/CharacterControllerComponent.obj
Engine/x64/Debug/Engine.idb
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.obj
Engine/x64/Debug/Engine.pch
Engine/x64/Debug/Engine.pdb
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Engine/x64/Debug/Font.obj
Engine/x64/Debug/FPSComponent.obj
Engine/x64/Debug/GameObject.obj
Engine/x64/Debug/GameTime.obj
Engine/x64/Debug/GraphMovementComponent.obj
Engine/x64/Debug/GridComponent.obj
Engine/x64/Debug/GridObserver.obj
Engine/x64/Debug/InputCommands.obj
Engine/x64/Debug/InputComponent.obj
Engine/x64/Debug/InputManager.obj
Engine/x64/Debug/Logger.obj
Engine/x64/Debug/main.obj
Engine/x64/Debug/pch.obj
Engine/x64/Debug/Renderer.obj
Engine/x64/Debug/ResourceManager.obj
Engine/x64/Debug/Scene.obj
Engine/x64/Debug/SceneManager.obj
Engine/x64/Debug/Subject.obj
Engine/x64/Debug/TextComponent.obj
Engine/x64/Debug/Texture2D.obj
Engine/x64/Debug/TextureComponent.obj
*.obj
*.idb
*.log
Engine/x64/Debug/Audio.obj
x64/Debug/Game.pdb
x64/Debug/Game.ilk
x64/Debug/Game.exe
x64/Debug/Engine.pdb
x64/Debug/Engine.lib
x64/Debug/Game.pdb
x64/Debug/Game.ilk
x64/Debug/Game.exe
x64/Debug/Engine.pdb
x64/Debug/Engine.lib
Game/x64/Debug/vc141.pdb
Game/x64/Debug/vc141.idb
Game/x64/Debug/pch.obj
Game/x64/Debug/Game.tlog/link.write.1.tlog
Game/x64/Debug/Game.tlog/link.read.1.tlog
Game/x64/Debug/Game.tlog/link.command.1.tlog
Game/x64/Debug/Game.tlog/CL.write.1.tlog
Game/x64/Debug/Game.tlog/CL.read.1.tlog
Game/x64/Debug/Game.tlog/CL.command.1.tlog
Game/x64/Debug/Game.pch
Game/x64/Debug/Game.obj
Game/x64/Debug/Game.log
Engine/x64/Debug/TextureComponent.obj
Engine/x64/Debug/Texture2D.obj
Engine/x64/Debug/TextComponent.obj
Engine/x64/Debug/Subject.obj
Engine/x64/Debug/SceneManager.obj
Engine/x64/Debug/Scene.obj
Engine/x64/Debug/ResourceManager.obj
Engine/x64/Debug/Renderer.obj
Engine/x64/Debug/pch.obj
Engine/x64/Debug/main.obj
Engine/x64/Debug/Logger.obj
Engine/x64/Debug/InputManager.obj
Engine/x64/Debug/InputComponent.obj
Engine/x64/Debug/InputCommands.obj
Engine/x64/Debug/GridObserver.obj
Engine/x64/Debug/GridComponent.obj
Engine/x64/Debug/GraphMovementComponent.obj
Engine/x64/Debug/GameTime.obj
Engine/x64/Debug/GameObject.obj
Engine/x64/Debug/FPSComponent.obj
Engine/x64/Debug/Font.obj
Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.pdb
Engine/x64/Debug/Engine.pch
Engine/x64/Debug/Engine.obj
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.idb
Engine/x64/Debug/CharacterControllerComponent.obj
Engine/x64/Debug/AudioLocator.obj
Engine/x64/Debug/Audio.obj
.vs/2D_GameEngine/v15/ipch/b74b6903f2b3d065.ipch
.vs/2D_GameEngine/v15/ipch/a83910c630955645.ipch
.vs/2D_GameEngine/v15/ipch/606512d1cc3d8475.ipch
.vs/2D_GameEngine/v15/ipch/1aeb7e4dbbfa2295.ipch
Debug/Engine.lib
Debug/Engine.pdb
Debug/Game.exe
Debug/Game.ilk
Debug/Game.pdb
x64/Release/zlib1.dll
x64/Release/SDL2_ttf.dll
x64/Release/SDL2_image.dll
x64/Release/SDL2.dll
x64/Release/libwebp-7.dll
x64/Release/libtiff-5.dll
x64/Release/libpng16-16.dll
x64/Release/libjpeg-9.dll
x64/Release/libfreetype-6.dll
x64/Release/Game.pdb
x64/Release/Game.ipdb
x64/Release/Game.iobj
x64/Release/Game.exe
x64/Release/Engine.lib
x64/Debug/zlib1.dll
x64/Debug/SDL2_ttf.dll
x64/Debug/SDL2_image.dll
x64/Debug/SDL2.dll
x64/Debug/libwebp-7.dll
x64/Debug/libtiff-5.dll
x64/Debug/libpng16-16.dll
x64/Debug/libjpeg-9.dll
x64/Debug/libfreetype-6.dll
x64/Debug/Game.pdb
x64/Debug/Game.ilk
x64/Debug/Game.exe
x64/Debug/Engine.pdb
x64/Debug/Engine.lib
Release/zlib1.dll
Release/SDL2_ttf.dll
Release/SDL2_image.dll
Release/SDL2.dll
Release/libwebp-7.dll
Release/libtiff-5.dll
Release/libpng16-16.dll
Release/libjpeg-9.dll
Release/libfreetype-6.dll
Release/Game.pdb
Release/Game.ipdb
Release/Game.iobj
Release/Game.exe
Release/Engine.lib
Game/x64/Release/vc141.pdb
Game/x64/Release/pch.obj
Game/x64/Release/Game.tlog/link.write.1.tlog
Game/x64/Release/Game.tlog/link.read.1.tlog
Game/x64/Release/Game.tlog/link.command.1.tlog
Game/x64/Release/Game.tlog/Game.write.1u.tlog
Game/x64/Release/Game.tlog/Game.lastbuildstate
Game/x64/Release/Game.tlog/CL.write.1.tlog
Game/x64/Release/Game.tlog/CL.read.1.tlog
Game/x64/Release/Game.tlog/CL.command.1.tlog
Game/x64/Release/Game.pch
Game/x64/Release/Game.obj
Game/x64/Release/Game.log
Game/x64/Debug/vc141.pdb
Game/x64/Debug/vc141.idb
Game/x64/Debug/pch.obj
Game/x64/Debug/Game.tlog/link.write.1.tlog
Game/x64/Debug/Game.tlog/link.read.1.tlog
Game/x64/Debug/Game.tlog/link.command.1.tlog
Game/x64/Debug/Game.tlog/Game.lastbuildstate
Game/x64/Debug/Game.tlog/CL.write.1.tlog
Game/x64/Debug/Game.tlog/CL.read.1.tlog
Game/x64/Debug/Game.tlog/CL.command.1.tlog
Game/x64/Debug/Game.pch
Game/x64/Debug/Game.obj
Game/x64/Debug/Game.log
Game/Release/vc141.pdb
Game/Release/pch.obj
Game/Release/Game.tlog/link.write.1.tlog
Game/Release/Game.tlog/link.read.1.tlog
Game/Release/Game.tlog/link.command.1.tlog
Game/Release/Game.tlog/Game.write.1u.tlog
Game/Release/Game.tlog/Game.lastbuildstate
Game/Release/Game.tlog/CL.write.1.tlog
Game/Release/Game.tlog/CL.read.1.tlog
Game/Release/Game.tlog/CL.command.1.tlog
Game/Release/Game.pch
Game/Release/Game.obj
Game/Release/Game.log
Game/Debug/vc141.pdb
Game/Debug/vc141.idb
Game/Debug/pch.obj
Game/Debug/Game.tlog/link.write.1.tlog
Game/Debug/Game.tlog/link.read.1.tlog
Game/Debug/Game.tlog/link.command.1.tlog
Game/Debug/Game.tlog/Game.lastbuildstate
Game/Debug/Game.tlog/CL.write.1.tlog
Game/Debug/Game.tlog/CL.read.1.tlog
Game/Debug/Game.tlog/CL.command.1.tlog
Game/Debug/Game.pch
Game/Debug/Game.obj
Game/Debug/Game.log
Engine/x64/Release/Texture2D.obj
Engine/x64/Release/TextComponent.obj
Engine/x64/Release/Subject.obj
Engine/x64/Release/SceneManager.obj
Engine/x64/Release/Scene.obj
Engine/x64/Release/ResourceManager.obj
Engine/x64/Release/Renderer.obj
Engine/x64/Release/pch.obj
Engine/x64/Release/main.obj
Engine/x64/Release/Logger.obj
Engine/x64/Release/InputManager.obj
Engine/x64/Release/InputComponent.obj
Engine/x64/Release/InputCommands.obj
Engine/x64/Release/GridObserver.obj
Engine/x64/Release/GridComponent.obj
Engine/x64/Release/GraphMovementComponent.obj
Engine/x64/Release/GameTime.obj
Engine/x64/Release/GameObject.obj
Engine/x64/Release/FPSScene.obj
Engine/x64/Release/FPSComponent.obj
Engine/x64/Release/Font.obj
Engine/x64/Release/Engine.tlog/Lib.command.1.tlog
Engine/x64/Release/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Release/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Release/Engine.tlog/Engine.lastbuildstate
Engine/x64/Release/Engine.tlog/CL.write.1.tlog
Engine/x64/Release/Engine.tlog/CL.read.1.tlog
Engine/x64/Release/Engine.tlog/CL.command.1.tlog
Engine/x64/Release/Engine.pdb
Engine/x64/Release/Engine.pch
Engine/x64/Release/Engine.obj
Engine/x64/Release/Engine.log
Engine/x64/Release/CharacterControllerComponent.obj
Engine/x64/Release/AudioLocator.obj
Engine/x64/Release/Audio.obj
Engine/x64/Debug/TextureComponent.obj
Engine/x64/Debug/Texture2D.obj
Engine/x64/Debug/TextComponent.obj
Engine/x64/Debug/Subject.obj
Engine/x64/Debug/SceneManager.obj
Engine/x64/Debug/Scene.obj
Engine/x64/Debug/ResourceManager.obj
Engine/x64/Debug/Renderer.obj
Engine/x64/Debug/pch.obj
Engine/x64/Debug/main.obj
Engine/x64/Debug/Logger.obj
Engine/x64/Debug/InputManager.obj
Engine/x64/Debug/InputComponent.obj
Engine/x64/Debug/InputCommands.obj
Engine/x64/Debug/GridObserver.obj
Engine/x64/Debug/GridComponent.obj
Engine/x64/Debug/GraphMovementComponent.obj
Engine/x64/Debug/GameTime.obj
Engine/x64/Debug/GameObject.obj
Engine/x64/Debug/FPSScene.obj
Engine/x64/Debug/FPSComponent.obj
Engine/x64/Debug/Font.obj
Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.pdb
Engine/x64/Debug/Engine.pch
Engine/x64/Debug/Engine.obj
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.idb
Engine/x64/Debug/CharacterControllerComponent.obj
Engine/x64/Debug/AudioLocator.obj
Engine/x64/Debug/Audio.obj
Engine/Release/TextureComponent.obj
Engine/Release/Texture2D.obj
Engine/Release/TextComponent.obj
Engine/Release/Subject.obj
Engine/Release/SceneManager.obj
Engine/Release/Scene.obj
Engine/Release/ResourceManager.obj
Engine/Release/Renderer.obj
Engine/Release/pch.obj
Engine/Release/main.obj
Engine/Release/Logger.obj
Engine/Release/InputManager.obj
Engine/Release/InputComponent.obj
Engine/Release/InputCommands.obj
Engine/Release/GridObserver.obj
Engine/Release/GridComponent.obj
Engine/Release/GraphMovementComponent.obj
Engine/Release/GameTime.obj
Engine/Release/GameObject.obj
Engine/Release/FPSScene.obj
Engine/Release/FPSComponent.obj
Engine/Release/Font.obj
Engine/Release/Engine.tlog/Lib.command.1.tlog
Engine/Release/Engine.tlog/Lib-link.write.1.tlog
Engine/Release/Engine.tlog/Lib-link.read.1.tlog
Engine/Release/Engine.tlog/Engine.lastbuildstate
Engine/Release/Engine.tlog/CL.write.1.tlog
Engine/Release/Engine.tlog/CL.read.1.tlog
Engine/Release/Engine.tlog/CL.command.1.tlog
Engine/Release/Engine.pdb
Engine/Release/Engine.pch
Engine/Release/Engine.obj
Engine/Release/Engine.log
Engine/Release/CharacterControllerComponent.obj
Engine/Release/AudioLocator.obj
Engine/Debug/TextureComponent.obj
Engine/Debug/Texture2D.obj
Engine/Debug/TextComponent.obj
Engine/Debug/Subject.obj
Engine/Debug/SceneManager.obj
Engine/Debug/Scene.obj
Engine/Debug/ResourceManager.obj
Engine/Debug/Renderer.obj
Engine/Debug/pch.obj
Engine/Debug/main.obj
Engine/Debug/Logger.obj
Engine/Debug/InputManager.obj
Engine/Debug/InputComponent.obj
Engine/Debug/InputCommands.obj
Engine/Debug/GridObserver.obj
Engine/Debug/GridComponent.obj
Engine/Debug/GraphMovementComponent.obj
Engine/Debug/GameTime.obj
Engine/Debug/GameObject.obj
Engine/Debug/FPSScene.obj
Engine/Debug/FPSComponent.obj
Engine/Debug/Font.obj
Engine/Debug/Engine.tlog/Lib.command.1.tlog
Engine/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/Debug/Engine.tlog/Lib-link.read.1.tlog
Engine/Debug/Engine.tlog/Engine.lastbuildstate
Engine/Debug/Engine.tlog/CL.write.1.tlog
Engine/Debug/Engine.tlog/CL.read.1.tlog
Engine/Debug/Engine.tlog/CL.command.1.tlog
Engine/Debug/Engine.pdb
Engine/Debug/Engine.pch
Engine/Debug/Engine.obj
Engine/Debug/Engine.log
Engine/Debug/Engine.idb
Engine/Debug/CharacterControllerComponent.obj
Engine/Debug/AudioLocator.obj
Debug/Game.pdb
Debug/Game.ilk
Debug/Game.exe
Debug/Engine.pdb
Debug/Engine.lib
Engine/Debug/Audio.obj
Engine/Release/Audio.obj
Engine/x64/Release/TextureComponent.obj
